<div class="h-screen w-screen flex justify-center items-center">
  <div>
    <label for="email" class="block text-sm font-medium leading-6 text-gray-900"
      >Add your Todo</label
    >
    <form class="mt-2 flex gap-4" (ngSubmit)="addTodo()">
      <input
        type="text"
        name="email"
        id="email"
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        [(ngModel)]="value"
      />
      <button
        type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
      >
        Add
      </button>
    </form>
    @if (todos().length > 0) {
    <ul class="mt-4 list-disc">
      @for (todo of todos(); track todo; let index = $index) {
      <li>
        {{ todo }}
        <button
          attr.aria-label="{{ 'Remove ' + todo }}"
          (click)="remove(index)"
          class="rounded-full bg-indigo-600 size-6 text-white"
        >
          X
        </button>
      </li>
      }
    </ul>
    }
  </div>
</div>
